nav {
  display: flex;
  height: 120px;
  color: #FFFFFF;
  background-color: #4056A1;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

nav>span {
  display: flex;
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
  align-items: center;  
  padding-top: 20px;
}

.writeTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1em;
}