.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: 2%;
}

#tweet-text {
  border-top:transparent;
  border-bottom: 2px solid black;
  border-left:transparent;
  border-right:transparent;
  width:100%;
  background-color: transparent;
}

.buttonStyle {
  background-color: blue;
  font-family: 'Bungee', sans-serif;
  color: white;
}

.counter {
  display: flex;
  justify-content: right;
  font-family: 'Bungee', sans-serif;
}

#errorMessage {
  display: none;
  color: red;
  border:2px solid red;
  width:80%;
  background-color: transparent;
  font-family: bold sans-serif;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}